* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Chromoxome;
  text-transform: uppercase;
  font-size: 1.4em;
  background-color: darkcyan;
}

h1 {
  text-align: center;
  text-decoration: underline dotted;
}

form {
  margin: auto;
  width: 80%;
}
/* ------------------------------------------------ */
label {
  display: block;
  margin-bottom: 5px;
}

input:not([type="radio"]) {
  height: 50px;
  padding-left: 5%;
  font-size: 1em;
}

.petit > * {
  width: 50%;
  padding: 5px;
  margin-bottom :20px;
}

.petit {
  display: flex;
  flex-wrap: wrap;
}

.ligne {
  display: inline-block;
}

.block select {
  width: 100%;
  padding-left: 5%;
  font-family: helvetica;
  height: 50px;
  font-size: 1em;
}

.block > * {
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------- */

.buttons {
  display: flex;
}
.calculer {
  background-color: #94C11F;
  width: 60%;
}

.effacer {
  background-color: lightgray;
  width: 40%;
}

.calculer , .effacer {
  font-family: Chromoxome;
  outline: none;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color:white;
  margin:1em .3em .3em .3em;
  cursor: pointer;
}


.info {
  text-align: center;
  background-color: white;
  padding : .4em;
  border: 2px solid black;
  font-size: 1.4em;
  margin-top:20px;
  height: 70px;
}